tests/lava/lib/dl/netx/gts/ntidigits/input.npy filter=lfs diff=lfs merge=lfs -text
tests/lava/lib/dl/netx/gts/ntidigits/ntidigits.net filter=lfs diff=lfs merge=lfs -text
tests/lava/lib/dl/netx/gts/ntidigits/output.npy filter=lfs diff=lfs merge=lfs -text
